* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
    background-color: rgb(240, 240, 240);
}

header {
  font-family: "Nerko One", cursive;
}

main,
footer {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* HEADER  */

.container{
    background-color: white;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;

    .title{
    color: orange;
    font-weight: bold;
    margin: auto;
}
}
/* END HEADER  */

/* MAIN  */
/* FIRST SECTION  */
.container-main{
  width: 85%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.first-section{
    p{
    display: inline-block;
    margin-top: 20px;
    color: rgb(53, 53, 53);
}

.sweet-t{
    color: blueviolet;
    margin-top: 20px;
}

a{
text-decoration: none;
color: whitesmoke;
background-color: orange;
padding: 5px 10px;
border-radius: 20px;
}

.sweet{
    color: rgb(198, 198, 198);
}

}

/* MEDIA QUERY  */
@media screen and (min-width: 360px) {

}

@media screen and (min-width: 768px) {
.container{
   .title{
    margin-left: 20px;
   }
}
}

@media screen and (min-width: 992px) {
.container{
    .title{
    margin-left: 20px;
   }
}
}