* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: rgb(240, 240, 240);
}

header {
  font-family: "Nerko One", cursive;
}

main,
footer {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* HEADER  */

.container {
  background-color: white;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;

  .title {
    color: orange;
    font-weight: bold;
    margin: auto;
  }
}
/* END HEADER  */

/* MAIN  */
/* FIRST SECTION  */
.container-main {
  width: 85%;
  margin: auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.d-flex-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first-section {
  p {
    display: inline-block;
    margin-top: 20px;
    color: rgb(53, 53, 53);
  }

  .sweet-t {
    color: blueviolet;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 20px;
  }

  .sweet {
    color: rgb(198, 198, 198);
  }

  .veg {
    display: none;
  }
}
/* END FIRST SECTION  */

/* SECOND SECTION  */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
  margin-top: 30px;
}

.col-12 {
  width: calc((100% / 12) * 12);
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin: 0;
}

.info {
  background-color: white;
  height: 200px;
  padding-top: 20px;
  .grey-bg {
    background-color: rgb(237, 237, 237);
    width: 90%;
    margin: auto;
  }
}

.kcal {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 10px;
  color: rgb(255, 255, 255);
  background-color: blueviolet;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  padding-left: px;
  padding-right: px;
  border-radius: 3px;
}

.vegetarian {
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.fa-carrot {
  margin-right: 4px;
}

.info-orange {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 10px;
  color: orange;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}

ul{
    list-style: none;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    li{
        font-size: 10px;
        margin-top: 5px;
    }
}

/* MEDIA QUERY  */

@media screen and (min-width: 360px) {
}


@media screen and (min-width: 768px) {
  .first-section {
    margin-top: 30px;
  }
  .container {
    .title {
      margin-left: 20px;
    }
  }

  .container-main-tab {
    width: 75%;
    margin: auto;
  }

  .first-section .veg {
    display: inline-block;
    font-size: 25px;
  }

  .sweet-t-md {
    font-size: 25px;
  }

  .first-section .score {
    align-content: center;
  }

  .ul-md{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    li{
        font-size: 10px;
        margin-top: 20px;
        margin-left: 10px
    }

  }
}


@media screen and (min-width: 992px) {
  .first-section {
    margin-top: 50px;
  }
  .container {
    .title {
      margin-left: 20px;
    }
  }

  .container-main-desk {
    width: 65%;
    margin: auto;
  }

  .first-section .veg {
    display: inline-block;
    font-size: 45px;
  }

  .sweet-t-l {
    font-size: 45px;
  }

  .first-section .score {
    align-content: center;
  }
}
